%h1 Match ##{@match.id}
%hr
%h2
  HOME TEAM: #{@home.team_name}
  = link_to "Rename", edit_match_team_path(@match, @home.id)
  %br

  -@home.memberships.each do |mem|
    %p
      =mem.user.display_name
      =link_to "Remove Member", match_team_membership_path(@match, @home, mem), method: :delete

  - if @home.memberships.length < 2
    = link_to "Add players", add_member_match_team_path(@match, @home.id)
%hr
%h2
  AWAY TEAM: #{@away.team_name}
  =link_to "Rename", edit_match_team_path(@match, @away.id)
  %br

  -@away.memberships.each do |mem|
    %p
      =mem.user.display_name
      =link_to "Remove Member", match_team_membership_path(@match, @home, mem), method: :delete
  - if @away.memberships.length < 2
    =link_to "Add players", add_member_match_team_path(@match, @away.id)

%hr

-gameno = 1

-@match.games.each do |game|
  %h2=link_to "GAME ##{gameno}", match_game_path(@match, game)
  -if game.ended?
    %p Game ended with the winner #{game.winner_name}
  -gameno += 1

%br
%br
-if @match.games.empty? || @match.games.last.ended?
  = link_to "START A GAME", match_games_path(@match), method: :post
-else
  %h3 There is a game already happening

%br
%br
  =link_to "Go back to all matches", matches_path
